*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: #f9f9f9;
    color: #222;
}
main{
    margin: 15vh auto;
    width: 700px;
}
main .verification-container{
    margin-top: 30vh;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.8rem;
    width: 40%;
}
.prompt-container{
    position: relative;
    top: 15rem;
}
.prompt-container form{
    width: 70%;
}
.login-container form,
.signup-container form
{
    gap: 1rem;
}
.login-container form input,
.signup-container form input,
.verification-container form input
{
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 100%;
    margin-top: 0.3rem;
}
.buttons-container{
    text-align: end;
    padding: 1rem;
}
.back-to-home a{
    text-decoration: none;
    color: #222222;
    font-weight: bold;
}
.back-to-home p{
    padding: 2rem 4rem;
}
.material-symbols-outlined {
    vertical-align: middle;
}

h1{
    font-weight: normal;
    margin-bottom: 2rem;
    font-size: 2rem;
}
.verification-container h1{
    font-size: 1rem;
}
label{
    width: 100%;
}
.prompt-container input[type="text"]{
    border-radius: 0.5rem;
    height: 50px;
    width:70%;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-color: #8080803d;
}
input[type="submit"]{
    border-radius: 0.5rem;
    border: none;
    color: white;
    background: black;
    cursor: pointer;
    padding: 0.8rem;
}
input[type="submit"]:disabled{
    background-color: #999;
    cursor: not-allowed;
    opacity: 0.6;
}
.buttons-container a{
    text-decoration: none;
    color:black;
    padding-right: 0.2rem;
}

.main-header{
    display: flex;
    justify-content: center;
    padding: 2rem;
    gap: 2rem;
}


.main-header a{
    text-decoration: none;
    color: inherit;
}
#footer{
 position: fixed;
 bottom: 1rem;
 width: 100%;
 text-align: center;
}
